
.hope-ui-light {
	background-image: url(https://moe.anosu.top/api/?sort=pc);
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

@media screen and (max-width:960px) {
	.hope-ui-light {
		background-image: url(https://moe.anosu.top/api/?sort=mp);
	}
}
